

//Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
@import url('https://afeld.github.io/emoji-css/emoji.css');

// Partials
@import "reset";
@import "bulma";
@import "variables";
@import "mixins";
@import "globals";

body {
	font-family: $primary-font;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.nav{ height: auto;
	.nav-item { color: $link; padding: 1rem 1.25rem; font-size: .8rem; font-weight: 600;
		img{ max-height: 3rem; height: 50px;}
	}
	.nav-item.is-active{ color: $link; border-bottom: 1px solid $green; }
}


.balance{
	.balance_amount{ color: $darkblue; font-size: 2rem; text-align: center;
		span{ color: $green; font-size: 1.3rem;}
	}
}
.budget{ 
	h1{ color: $darkblue; font-size: 2.5rem; font-weight: 600; padding: 10px 0;}
	.btn-transaction {
		background: $red;
		color: $white;
	}
	.btn-transaction:hover{
		color: $red;
		background: $white;
		border-color: $red;
	}
}

.budget-title{
	background: $white;
	padding: 20px 0;
	border-bottom: 1px solid rgba($line,0.13);
	.column { 
		text-align: center;
		h2{ color: $darkblue; font-weight: 500;}
	}
}

.budget-data{
	font-size: .8rem;
	background: $white;
	.icon{ margin-left: auto; }
	span {
		font-size: 1rem;
		font-weight: 700;
		color: $link;
	}
	.level-item div {
		padding: 10px 20px;
		margin-right: auto;
	}

	.data-details{
		display: flex;
		max-width: 80%;
		margin: 0 auto;
		.icon { flex: 1; display: flex; align-self: center; 
			i { margin-left: auto; }
		}
		.details-name { flex: 3; padding-left: 20px;}
	}

	.data-dates{ padding: 10px 20px; }

	.data-transaction{
		padding: 10px 20px;
		.transaction-expenses{ color: $red; }
		.transaction-income{ color: $green; }
	}
}

.form{
	padding: 20px;
	color: $black;
	h3{ color: $darkblue; font-weight: 600; padding: 50px 0; font-size: 1.5rem;}
	.control,.select, select{ width: 100%;}
	input{ border-radius: 2px; color: $darkblue;}
	button{
		text-transform: capitalize;
		font-size: 1rem;
		padding: 20px 45px;
		border: 1px solid transparent;
		margin-top: 10px;
		font-weight: 600;
		height: auto;
		background: $blue;
		color: $white;
		border-radius: 100px;
		width: 100%;
	}
}

.stats{
	h2{ color: $darkblue; font-weight: 700; border-bottom: 1px solid $gray2; padding: 5px 0; margin-bottom: 15px;}
	.stat-detail{
		padding: 10px;
		.stat-bg{
			padding: 20px 30px;
			background: rgba($gray2,.3);
			border-radius: 10px;
			border: 2px solid transparent;
		}
		.stat-bg:hover{
			border-color: $green;
			-webkit-transform-origin-y: 2px;
		}
		span{ font-size: 2rem; color: $darkblue; font-weight: 600;}
		p{ color: $black;}
	}
}

.bot-report{
	background: $green; color: $white; text-align: center;
	h2{ color: $white; text-align: left;}
	span{ font-weight: 600; font-size: 1.5rem;}
	p { margin: 1rem 0;}
}

.stats-budget{
	p{ font-size: .7rem; font-weight: 700;}
	.progress:not(:last-child){
		margin-bottom: 10px;
	}
}

.footer{
	background: $white;
	padding: 1.5rem;
}